a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
html, body { min-height: 100% } 
body { background-color:#FF8040; background: linear-gradient(to right, #FF8000, #FF8040); background-repeat: no-repeat; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_6b0ba376 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:143px; background:none;  }
#container_6b0ba376_padding { margin: 10px; display: block;  }
#container_e4bf9ac { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:154px; background:none;  }
#container_e4bf9ac_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:center; }
#button_3003ed18 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:269px; height:50px; background-color:#D01D1D; border-top: none; border-left: none; border-right: none; border-bottom: none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_8db7367 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_8db7367_padding { margin: 10px; display: block;  }
#button_62a75dad { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:273px; height:54px; background-color:#D01D1D; border-top: none; border-left: none; border-right: none; border-bottom: none;  }
#container_626e4233 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:59px; background:none;  }
#container_626e4233_padding { margin: 10px; display: block;  }
#container_5e6975ff { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_5e6975ff_padding { margin: 10px; display: block;  }
#button_250929e8 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:277px; height:51px; background-color:#004080; border-top: none; border-left: none; border-right: none; border-bottom: none;  }
#container_2a64b3ae { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:62px; background:none;  }
#container_2a64b3ae_padding { margin: 10px; display: block;  }
